::-webkit-scrollbar{
    display: none;
}
#seccion0{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('IMAGENES/local.jpg') no-repeat center fixed;
    height: 100vh;
    background-size: cover;
    margin-top: 2.9rem;
    padding-right: 0;
    padding-left: 0;
        padding-top: 1.5rem;
}
#gym{
    border: 5px solid #ffffff6c;
    padding: 3rem;
    backdrop-filter: blur(5px) brightness(140%);
    margin-top: 3rem;
}

#gym *{
    position: relative;
}

#seccion1



