::-webkit-scrollbar{
    display: none;
}
html{
    scroll-behavior: smooth;  
}
#seccion0{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(5, 5, 5, 0.315)), url('IMAGENES/gif2.gif') no-repeat center fixed;
    height: 100vh;
    background-size: cover;
    padding: 2.9rem;
    padding-right: 0;
    padding-left: 0;
    padding-top: 23rem;
    
}
#TT{
    font-style: oblique;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 7);

}
#TL{
    font-style:italic;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 7);

}
#gym{
    border: 5px solid #ffffff6c;
    padding: 3rem;
    backdrop-filter: blur(5px) brightness(140%);
    margin-top: 3rem;
}

#gym *{
    position: relative;
}
#log{
    top: 3rem;
    height: 19rem;
    width: 20rem;
    background: cover;
}

#seccion1{
    padding-top: 5rem;
    padding-bottom: 1rem;
    height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.582)), url('IMAGENES/font.jpg') no-repeat center center fixed;
   background-size: cover;

}
#seccion1 .container{
    width: fit-content;
    padding: 1rem;
    padding-top: 0;
}
.card{
    position:300px;
    width: 20rem;
    margin: 0.5rem;
    cursor: pointer;
    transform: scale(0.95);

    -webkit-box-shadow: 0 0px 0px 0px #141414;
    box-shadow: 0 0px 0px 0px #000000;

    -webkit-transition: all 600ms ease-out;
   -moz-transition: all 600ms ease-out;
   -ms-transition: all 600ms ease-out;
   -o-transition: all 600ms ease-out;
    transition: all 600ms ease-out;

}
.card:hover{
   
    -webkit-box-shadow: 0 6px 9px -3px #85858598;
    box-shadow: 0 6px 9px -3px #7777779f;

    -webkit-transition: all 200ms ease-out;
   -moz-transition: all 200ms ease-out;
   -ms-transition: all 200ms ease-out;
   -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    transform: scale(1.03);

}
.card-img-top{
    height: 16vw;
    object-fit: cover;
}

.card.bg-danger{

    border: none;
    background: rgba(0, 0, 0, 0.6)!important;
}

.card-footer.bg-danger{
    border-top: 1px solid white ;
    background: rgba(0, 0, 0, 0.6)!important;
}

#seccion2{
    padding-top: 4rem;
    padding-bottom: 1rem;
    height: 100vh;
   background: url('IMAGENES/gif4.gif') no-repeat center center fixed;
   background-size: cover;

}
#seccion2 .container{
    width:fit-content;
    padding: 1rem;
    padding-top: 0;

}
 
#seccion3{
    padding-top: 4rem;
    padding-bottom: 1rem;
    height: 100vh;
   background: url('IMAGENES/0123.jpg') no-repeat center center fixed;
   background-size: cover;
   background-position-y: 1rem;
   
}

#seccion3 .container{
    width: 70rem;
    padding: 1rem;
    

}
.circulo{
  
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    padding: 0.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0.5rem; 
    text-decoration: none;
    color: white;
    
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

a.circulo:hover{
    color: white;
    transform: scale(1.1);
    filter: brightness(120%);
  

}

.facebook{ background: #3B5598; } 
.twitter{ background: #55ACEE; } 
.instagram{ background: url("IMAGENES/instagram.jpg"); } 
.youtube{ background: #bb0000; }
.whatsapp{ background: #00bb2d; }


.redes{
    width: fit-content;
}

#inscribete{
    padding-top: 14rem;
}
form{
    width: 32rem;
    margin-top: 1rem;
    
}



.navbar{
   
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0);

}
.barra-progreso{
    padding: 0;
    margin: 0;
    top: 3.45rem;
    border: none;
}
.progreso{
    background: rgba(0, 0, 0, 0);
   padding: 0.1;
    margin: 0;
    width: 25vw;
    height: 0.4;
}

.progreso.active{
    background-color: rgba(184, 184, 184, 0.253);
   
}

h5 {
   
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 7);

}

nav ul li a{
  
    font-weight: bold;
}

nav ul li a:hover{
    background: rgba(243, 237, 237, 0.418);
    border-radius: 6px;
}

 #logo:hover{ 
   height: fit-content;
     float: left;
     font-size: bold;
     color: white;
   
}
.efecto{
   
    position: relative;
   
    -webkit-transition: all 600ms ease-out;
   -moz-transition: all 600ms ease-out;
   -ms-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    transition: all 600ms ease-out;
 } 



